html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0011fa;
}

.container {
    background-color: #ddd;
    max-width: 1000px;
    padding: 20px 50px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
}

.bold{
    font-weight: bold;
}

h1, h2 {
    color: #0011fa;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.titulo {
    font-size: 32px;
    border-bottom: 3px solid #0011fa;
    padding-bottom: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #555;
}